body
{
    font-family: "Poppins";
    margin: 0;
    padding: 0;

}

.top-banner
{
    background-image: url("./Image/header-bg.png");
    background-repeat: no-repeat;
    background-size: 1500px;
}

h1
{
    font-size: 50px;
}
section 
{
    margin-top: 5%;
    height: 800px;
    padding-bottom: 10px;
   
}
p
{
    color: dimgray;
}
.name-highlight
{
    color: deeppink;
    font-weight: 700;
}
.half-width
{
    width: 39%;
    float: left;
    margin-left: 4%;
    padding-left: 4%;
}

.half-width img
{

    width: 90%;
}

.link-button
{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg,deeppink,red);
    padding: 10px 40px;
    border-radius: 5px;

}

h2
{
    font-size: 40px;
}

.middle-area
{
    background-image: url("./Image/biography-bg.png");
    background-repeat: no-repeat;
    
}

.latest-work
{
    background-image: url("./Image/latest-work-bg.png");
    width:100%;
}
.l-text
{
    padding-bottom:5% ;
    text-align: center;

}

.l-image
{
    padding-left: 8%;
}
.bio-contact
{
    text-align: center;
}

.bio 
{
    height: 100px;
   background-image: url("./Image/footer-bg.png");
   background-repeat: no-repeat;
   background-size: 100px;
}
.bio-contact{
    height: 0;
    margin-top: -15%;
}

.bio-contact h2
{
    font-size: 50px;
}

.bio-contact h5
{
    color: dimgray;
}
.footer{
    margin-top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer p{
    width: 30%;
    text-align: center;
    color: white;
    background-image: linear-gradient(45deg, deeppink, red);
    padding: 10px 20px;
    border-radius: 5px;

}
footer p
{
    text-align: center;
    margin-top: 27%;
    
}